<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://unpkg.com/papercss@1.6.1/dist/paper.min.css">
    <title>Client Server</title>
  </head>
  <body style="background-color: #DDF;">
    <nav class="border fixed split-nav">
      <div class="nav-brand">
        <h3>Client Server</h3>
      </div>
      <div class="collapsible">
        <div class="collapsible-body">
          <ul class="inline">
            <li><a href="#">Github</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="row flex-center flex-middle" style="min-height: 100vh;">
        <div class="card sm-4" style="background-color: #FFF;">
          <div class="card-header">Access Protected Resource</div>
          <div class="card-body">
            <p class="card-text">
              Please note in order to access the Protected Resource you will need to Authorize the requests.
            </p>
            <div class="row flex-spaces">
              <a popover-top="Use user: &quot;john&quot; pass: &quot;secret&quot;" class="paper-btn btn-success sm-8 col" href="{{authRequestUrl}}">Get Protected Resource</a>
            </div>
          </div>
          <div class="card-footer background-warning text-danger"><strong> Use user: &quot;john&quot; pass: &quot;secret&quot;</strong></div></div>
        </div>
    </div>
  </body>
</html>